@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Merriweather&family=Press+Start+2P&family=Raleway:wght@100;200;300;500&family=Roboto:ital,wght@0,100;0,400;1,700&family=Space+Grotesk:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-family: "Carrois Gothic SC", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Press Start 2P", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Space Grotesk", sans-serif;
}

.hovering-hover:hover {
  animation: growth 1s ease-in forwards ;
}

@keyframes growth {
  100% {
    scale: 1.3;
  }
}


.myHidden{
  opacity:0;
}

.myShow{
  animation: specialisRevelo 1s ease-in forwards
}

@keyframes specialisRevelo {
  0%{opacity: 0;
    filter: blur(5px);
    scale:0.8;
  }

  100%{
    opacity: 1;
    filter: blur(0);
    scale: 1;
  }
  
}

.myShowMobile{
  animation: specialisRevelo2 1s ease-in forwards

}

@keyframes specialisRevelo2 {
  0%{opacity: 0;
    scale:0.8;
  }

  100%{
    opacity: 1;
    scale: 1;
  }
  
}

.myName{
  animation: intro 1.5s ease-in forwards
}
.mySubtitle{
  opacity: 0;
  animation: intro 1.5s ease-in forwards;
  animation-delay: 1s;
}
@keyframes intro {
  0%{
    display:none;
    opacity: 0;
    filter: blur(5px);
    translate:-100%;
  }
  

  100%{
    display: contents;
    filter:blur(0px);
    translate:0%;
    opacity: 1;
    scale:1.2;
    width: calc(100% / 1.2);
  }
}

input,#full-name,#email,#message{
  background-color: rgb(40, 43, 40);
  color:rgb(202, 202, 202)
}

#full-name::placeholder, #email::placeholder, #message::placeholder{
  color:rgb(202, 202, 202);
  opacity: 0.5;
}